<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zhongsuwuliu.zhongsulogistics"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.GoodsManageActivity">
        </activity>
        <activity android:name=".Activity.UnloadingActivity">
        </activity>
        <activity android:name=".Activity.SortingActivity">
        </activity>
        <activity android:name=".Activity.CheckActivity">
        </activity>
        <activity android:name=".Activity.InStockActivity">
        </activity>
        <activity android:name=".Activity.ContainerManageActivity">
        </activity>
        <activity android:name=".Activity.SetNumActivity">
        </activity>
        <activity android:name=".Activity.OutStackActivity">
        </activity>
    </application>

</manifest>
